templates/cloud-config.yml
templates/cloud-config-alpinelinux.yml
templates/meta-data.yml
templates/launch-vm.ini
templates/*lab*
templates/*local*
templates/network-config/network-config-alpinelinux.yml
templates/network-config/network-config-enp1s0.yml
templates/network-config/network-config-ens3.yml
templates/network-config/network-config-eth0.yml
.vscode
.idea